$lineHeight: 21px;
$greyBorder: 1px solid #DBE2EA;
@mixin errorLine{
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  color: #FF7171;
}
.block {
  font-size: 1rem;
  vertical-align: bottom;
  font-weight: 500;
  color: #756F86;
  margin-bottom: 34px;
  position: relative;
}
/* Field style */
.inputField {
  display: block;
  width: 100%;
  margin: 7px 0 8px;
  background: white;
  border: $greyBorder;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(44, 39, 56, 0.04);
  border-radius: 6px;
  padding: 16px 16px 15px;
  font-size: 1rem;
  line-height: $lineHeight;
  &:focus {
    outline: none;
  }
}
/* Error line*/
.lineError {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  color: #FF7171;
}